<div class="mt-5 align-items-center justify-content-center d-flex flex-column" *ngIf="contact">
  <div class="mb-4 avatar">
    <div class="badge"></div>
    <img src="{{ contact.picture }}" alt="avatar">
  </div>
  <p><i class="fas fa-user"></i> {{ contact.name }}</p>
  <p><i class="fas fa-at"></i> {{ contact.email }}</p>
  <p><i class="fas fa-birthday-cake"></i> {{ contact.age }} ans</p>
  <hr>
  <p><i class="fas fa-home"></i> {{ contact.street }}</p>
  <p><i class="fas fa-building"></i> {{ contact.postal }} {{ contact.city }}</p>
  <p><i class="fas fa-phone"></i> {{ contact.phone }}</p>
  <div class="social-network">
    <a [href]=[contact.facebook] target="blank"><i class="fab fa-facebook" title="Facebook"></i></a>
    <a [href]=[contact.github] target="blank"><i class="fab fa-github" title="GitHub"></i></a>
  </div>
</div>
<div *ngIf="isAuth()" class="d-flex justify-content-center">
  <button class="edit" (click)="edit(contact)" title="Editer"><i class="fas fa-pen"></i></button>
</div>