@import '../page/home-page/home-page.component.scss';

@media screen and (min-width: 1024px){
    .item-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 1024px){
    .item-grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 768px){
    .item-content {
        top: 165px;
    }
}
@media screen and (max-width: 768px){
    .item-content {
        top: 175px;
    }
}
@media screen and (max-width: 425px){
    .item-grid {
        grid-template-columns: 1fr;
    }
}

.item-grid {
    display: grid;
    padding: 5px;
    border-top: solid scale-color(black, $lightness: 85%) 1px;
}

.item {
    margin: 5px;

    &:hover {
        border: 0px;
        margin-left: 5px;
        margin-top: 6px;

        .item-content {
            top: 0;
            transition: top .2s;
            transition-timing-function: linear;
        }
    }
}

.item-card {
    overflow: hidden;
    width: 100%;
    height: 250px;
    border-radius: 5px;
    background: no-repeat top;
    background-size: cover;

    .card-category, .item-content {
        padding: 10px 30px;
    }

    .item-content {
        margin-left: 0px;
        height: 100%;
        position: relative;
        background: rgba(0, 0, 0, .85);
        color: white;
        transition: top .2s;
        transition-timing-function: linear;
    }
}

.project-personnal, .project-professional, .project-training {
    color: black;
    font-weight: 500;
}

.project-training {
    background: rgba($primary-color, .75);
    
}

.project-personnal {
    background: rgba($alert-color, .75);
}

.project-professional {
    background: rgba($secondary-color, .75);
}