<div class="toggler">
  <button (click)="toggleContact()"><i [className]="contactHidden ? 'fas fa-chevron-down' : 'fas fa-chevron-up'"></i></button>
</div>

<div id="contact" class="fixed-top">
  <app-contact (emitEdit)="editContact($event)"></app-contact>
  <app-contact-form *ngIf="isAuth()" (refreshContact)="refreshContact()"></app-contact-form>
</div>

<div id="page">
  <div class="about-content">
    <app-about (emitEdit)="editAbout($event)"></app-about>
    <app-about-form *ngIf="isAuth()" (refreshAbout)="refreshAbout()"></app-about-form>
  </div>
  <div class="page-content">
    <router-outlet></router-outlet>
  </div>
</div>